body{background-color:#fae6e6;
    text-align:center;
}
ul{font-family:sans-serif;
}
h3{font-family:Helvetica;
}
.A{color:red;
}
.B{color:blue;
}
.C{color:green;
}
.D{color:violet;
}
.E{color:darkorange;
}
.F{color:teal;
}